<!-- ~/Views/Home/About.cshtml -->

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p class="alert alert-info">
    This website is designed for the Distinction Task of Monash FIT5032.
    In this case, the website is going to record informatin of journalists (student)
    and their articles. Every student in monash is free to act a journalist in this website
    and upload articles of their interested topics. If there is any problem, please go to the
    contact page and contact the author.
</p>
<p>Author: Dongyu Zhao</p>
<p>Student ID: 27356094</p>
<p>Unit Code: FIT5032</p>
<p>Unit Provider: Monash University, The Caulfield School of Information Technology</p>
<p>Task Name: FIT5032 Distinction Task</p>
<p>Tutor: Arvind Kaur</p>
<p>
    More info of the task:
    <a href="http://moodle.vle.monash.edu/mod/page/view.php?id=4154651">http://moodle.vle.monash.edu/mod/page/view.php?id=4154651</a>
</p>
<br />
<p>Image details</p>
<p>
    MU_LOGO:
    <a href="https://www.monash.edu/">https://www.monash.edu/</a>
</p>