<!-- ~/Views/Home/Contact.cshtml -->

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>Author: Dongyu Zhao</p>
<p>Student ID: 27356094</p>
<p>
    Email Address:
    <a href="mailto:dzha152@student.monash.edu">dzha152@student.monash.edu</a><br />
</p>